* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Noto Serif", serif;
  position: relative;
}

/* NAV-BAR */

.nav-bar {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 32px 64px;
  /* background-color: rgba(0, 0, 255, 0.685); */
}

.logo-img {
  width: 64px;
}

.header {
  font-size: 48px;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  color: #0a1e2c;
}

.add-person {
  width: 48px;
  height: 48px;
  cursor: pointer;
  color: darkblue;
}

/* MAIN-SECTION */

/* TABLE */
.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.table {
  border-collapse: collapse;
  margin: 0 12px;
}

.table thead {
  background-color: darkblue;
}

.table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.table tbody tr:nth-child(even) {
  background-color: #dfdfdf;
  background-color: #c4dff0;
  color: #fff;
  color: #00005a;
}

.table th {
  padding: 12px 24px;
  border: none;
  color: #fff;
}

.table td {
  padding: 12px 24px;
  border: none;
}

/* FORM */

.container {
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.705);
  display: none;
  z-index: 1000;
  /* overflow: hidden; */
}

.form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
  display: none;
}

.close {
  width: 48px;
  height: 48px;
  color: #fff;
  position: absolute;
  top: -50px;
  right: -10px;
  cursor: pointer;
  z-index: 1000;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 32px;
  background-color: #fff;
}

.form label {
  margin-bottom: 6px;
  font-size: 22px;
}

.form input {
  margin-bottom: 6px;
  font-size: 18px;
  padding: 6px 12px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid black;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #000 !important;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

.btn {
  margin-top: 24px;
  align-self: center;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  border: 1px solid black;
  color: #fff;
  background-color: #3497da;
  background-repeat: no-repeat;
  background-position: -120px -120px, 0 0;

  background-image: -webkit-linear-gradient(
    top left,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-image: -moz-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-image: -o-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-image: linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );

  -moz-background-size: 250% 250%, 100% 100%;
  background-size: 250% 250%, 100% 100%;

  -webkit-transition: background-position 0s ease;
  -moz-transition: background-position 0s ease;
  -o-transition: background-position 0s ease;
  transition: background-position 0s ease;
}

.btn:hover {
  background-position: 0 0, 0 0;

  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* ERROR MESSAGES */

.error {
  font-size: 12px;
  color: #df4759;
  margin-bottom: 12px;
}

.error-input {
  border: 3px solid #df4759;
}

/* BUTTONS */

.edit-del-btn {
  padding: 3px 6px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.delete {
  font-weight: bold;
}

.delete:hover {
  background-color: #df4759;
  color: #fff;
}

.delete-all {
  background-color: #df4759;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 16px;
  box-shadow: 0 5px rgba(153, 153, 153, 0.699);
}

.delete-all:hover {
  background-color: #e2132c;
}

.delete-all:active {
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.edit {
  font-weight: 700;
  transition: all 0.3s;
}

.edit:hover {
  background-color: #00008b;
  color: #fff;
}

@media (max-width: 768px) {
  body {
    padding: 0 40px;
  }

  .header {
    font-size: 36px;
  }

  .logo-img {
    width: 48px;
  }

  .add-person {
    width: 36px;
    height: 36px;
  }

  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }

  .table tbody tr:nth-child(odd) {
    /* background-color: rgb(16, 16, 138);
    background-color: blue; */
    /* background-color: #1da1f2; */
    background-color: #4267b2;

    color: #fff;
  }

  /* .table tbody tr:nth-child(even) {
    background-color: #dfdfdf;
    background-color: #c4dff0;
    color: #fff;
    color: rgb(0, 0, 90);
  } */

  .table td {
    border: 1px solid rgb(255, 255, 255);
    text-align: right;
    padding: 12px;
    position: relative;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    /* width: 50%; */
    text-align: left;
    padding-left: 12px;
    font-weight: 700;
  }

  .table tr {
    margin-bottom: 16px;
  }

  .delete-all {
    margin-bottom: 48px;
  }
}

@media (max-width: 540px) {
  body {
    padding: 0 16px;
  }

  .nav-bar {
    width: 100%;
    padding: 16px 6px 32px;
    justify-content: space-between;
  }

  .header {
    font-size: 32px;
  }

  .logo-img {
    width: 36px;
  }

  .add-person {
    width: 32px;
    height: 32px;
  }

  .form input {
    font-size: 14px;
  }

  .form label {
    margin-bottom: 6px;
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .header {
    font-size: 24px;
  }

  .logo-img {
    width: 28px;
  }

  .add-person {
    width: 30px;
    height: 30px;
  }

  .table td {
    font-size: 15px;
  }
}
